# R / RStudio
.Rhistory
.Rproj.user/
.RData
.Ruserdata

# Python/Jupyter
.ipynb_checkpoints/
__pycache__/

# OS
.DS_Store
Thumbs.db

# Data & outputs
data/raw/
data/interim/
output/maps/
output/tables/

# Conda
*.lock
env/
.venv/